{
    "presets": ["env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./app"],
            "alias": {
                "inits": "./app/scripts/inits"
            }
        }]
    ]
}
