/* Breakpoints */
@custom-media --max-mobile (width <= 480px);
@custom-media --min-tablet (width > 480px);
@custom-media --max-tablet (width <= 768px);
@custom-media --min-desktop (width > 768px);
@custom-media --min-desktop-large (width >= 992px);
@custom-media --min-desktop-xlarge (width >= 1200px);
@custom-media --min-desktop-xxlarge (width >= 1400px);

/* Colour palette */
:root {
    --primary-color: #0077CC;
    --dark-color: #000000;
    --light-color: #FFFFFF;
}


/* Shadow */
:root {
    --box-shadow: 0 10px 20px color(var(--dark-color) alpha(-75%));

}

/* Fonts */
:root {
    --primary-font: Arial, Verdana, sans-serif;
}
